@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

$primary: #069163;
$grey: #ececec;

body {
    height: 100%;
    width: 100%;
    background: $grey;
}
* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
    .title {
        padding: 20px;
        text-align: center;

        h1 {
            padding: 10px;
            color: $primary;
            font-size: 49px;
            font-family: "Dancing Script", cursive;
        }
        p {
            padding: 0 10px;
            color: $primary;
            font-size: 20px;
        }
        input {
            padding: 10px;
            border: 1px solid $primary;
            border-radius: 7px;
            width: 60%;
        }

        button {
            padding: 10px;
            border: 1px solid $primary;
            border-radius: 7px;
            min-width: 100px;
            background: #fff;
            color: $primary;
            font-weight: 600;
            margin: 5px 10px;
            i {
                margin: 0 3px;
            }
        }
        .call {
            background: $primary;
            color: #fff;
        }
        @media only screen and (max-width: 400px) {
            input {
                width: 100% !important;
            }
        }
    }
    .menu {
        background: $primary;
        color: #fff;
        padding: 0 10px;
        h1 {
            text-align: center;
            color: #fff;
            font-size: 22px;
            font-family: "Dancing Script", cursive;
            cursor: pointer;
            margin: 0;
        }

        ul {
            list-style: none;
            margin: 0;
            li {
                display: inline-block;
                padding: 10px;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                &:hover {
                    font-weight: 700;
                }
            }
        }
    }
    .category {
        background: $grey;
        width: 100%;
        padding: 25px 10px;
        margin: 0;
        .category-item {
            padding: 5px;
            object-fit: cover;
            position: relative;
            height: 250px;
            width: 250px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 7px;
            }
            button {
                background: #fff;
                color: $primary;
                position: absolute;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 7px 13px;
                border: none;
                font-weight: bold;
                border-radius: 3px;
                font-size: 18px;
            }
        }
    }
    .about {
        padding: 25px 10px;
        h3 {
            font-size: 25px;
            text-align: center;
            font-weight: bold;
            color: $primary;
        }
        p {
            text-indent: 10px;
            font-size: 18px;
            color: #3d4041;
            text-align: justify;
        }
    }
    .contact {
        background: $grey;
        padding: 25px 10px;

        h5 {
            font-weight: bold;
        }
        .rating-from {
            .btn {
                width: 100%;
                background: $primary;
                color: #fff;
            }
            .star-list {
                color: #de6d0c;
                font-size: 16px;
            }
        }
        .item {
            background: #fff;
            padding: 9px;
            border-radius: 3px;
            margin: 10px 0;
            h6 {
                font-weight: bold;
                margin: 0;
                font-size: 16px;
            }
            .star-list {
                color: #de6d0c;
            }
            .comment {
                margin: 5px 0;
                font-size: 14px;
            }
        }
    }
}

.footer {
    background: $primary;
    color: #fff;
    padding: 20px 10px;
    .address {
        p {
            margin: 0;
            font-style: 12px;
        }
    }
    .brand-name {
        font-family: "Dancing Script", cursive;
        font-size: 2rem;
        margin: 0;
    }
    .social-network {
        p {
            margin: 0;
            padding-right: 20px;
        }
        .icons {
            a {
                text-decoration: none;
                color: #fff;
                margin: 5px;
            }
        }
    }
}
.product-list {
    background: $grey;
    width: 100%;
    min-height: calc(100vh - 300px);
    margin: 10px !important;
    .product-card {
        width: 100%;
        padding: 10px;

        .product {
            background: #fff;
            border-radius: 5px;
            img {
                height: 250px;
                width: 100%;
                object-fit: cover;
            }
            h4 {
                font-size: 16px;
                font-weight: 600;
                margin: 10px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            p {
                font-size: 13px;
                margin: 0;
                padding: 0 10px 10px 10px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                del {
                    margin-left: 10px;
                }
                span {
                    font-size: 13px;
                    margin-left: 10px;
                    font-weight: bold;
                }
            }
        }
    }
}
